# .coveragerc to control coverage.py
[run]
omit = 
    */site-packages/*
    */distutils/*
    */tests/*
    hardware/setup/*
source =
    mysite
    mercury
    hardware
    ag_data
    hardware/CommunicationsPi
    hardware/SensorPi