{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
{% load crispy_forms_tags %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 justify-content-center">
        <img src="https://yt3.ggpht.com/-RZYi5isxH_M/AAAAAAAAAAI/AAAAAAAAAAA/rmWpoe2qZzI/s900-c-k-no/photo.jpg" width="200" height="200" ><br>
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
      <!-- form.as_p|crispy-->
    <button type="submit">Login</button>
  </form>
        </div>
    </div>
</div>


{#{% load crispy_forms_tags %}#}
{##}
{#<div class="container">#}
{#    <div class="row justify-content-center">#}
{#        <div class="col-6 justify-content-center">#}
{#            <h1>Simulating Mock Data</h1>#}
{#            {% if form %}#}
{#            <form method="POST" action="">#}
{#                {%  csrf_token %}#}
{#                {{ form|crispy }}#}
{#                <input type="submit" class="btn btn-primary" value="Submit">#}
{#            </form>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}