# For more information, open mysite/settings.py and look up 'os.environ'

DB=postgres
# DB_USER=mercury
# DB_PASSWORD=mercury

# localhost and 5432 by default. Uncomment if you want another setup
# DB_HOST=1.2.3.4
# DB_PORT=12345
