/* CSS document is organized in the following order:
    1) HTML tag styling
    2) Class selectors (class selectors start with . )
    3) ID selectors (ID selectors start with # )

    Failure to keep the CSS document well-structure will bring seven years of
    bad luck where code you write will fail randomly and silently leading
    to unimaginable side-effects and a slow descent into madness...    */
/******************* HTML LEVEL TAG STYLING ************************************/

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

body {
  color: var(--light-text);
  background-color: var(--light-background);
  margin: 0;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  counter-reset: Serial;
}

nav ul{
    display:flex;
    justify-content: space-around;
}

nav li {
  display: inline-block;
}

li{
    list-style-type: none; /* removes bulleting */
}

tr:nth-child(even) {background-color: #f2f2f2;}

  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  ol,
  dl {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  ol ol,
  ol ul,
  ul ol {
    margin-bottom: 0;
  }

  b {
    font-weight: bolder;
  }

a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
  }

  a:hover {
    color: #224abe;
    text-decoration: underline;
  }

  a .homepage {
      color: #8f06cb;
  }

  a:hover .homepage {
     color: #57068C;
        text-decoration: underline;
    }

  a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
  }

  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
  }

  a:not([href]):not([tabindex]):focus {
    outline: 0;
  }

  a .homepage {
      color: #8f06cb;
  }

  img {
    vertical-align: middle;
    border-style: none;
  }

  table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    height: auto;
  }

  td {
    border: 1px solid black;
    text-align: center;
  }

  th{
    border: 1px solid black;
    width: 30px;
    text-align: center;
  }

  tr{
    border: 1px solid black;
    text-align: center;
  }

  label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  button {
    border-radius: 0;
  }

  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }

  input,
  button,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  button,
  input {
    overflow: visible;
  }

  button,
  select {
    text-transform: none;
  }

  select {
    word-wrap: normal;
  }

  button {
    border-radius: 0;
  }

  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }

  input,
  button,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  select {
    word-wrap: normal;
  }

  textarea {
    overflow: auto;
    resize: vertical;
  }

/*asterisk denotes CSS wildcard selector - This should be checked and maybe removed */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

/******************* CLASS SELECTOR STYLING ***********************************/

/* In HTML, the :root CSS pseudo-class represents the <html> element and is
identical to the selector html, except that its specificity is higher. */
:root {
    /* NYU Motorsports Elements Begin */
  --red: #EE4B5E;  /*--red denotes a CSS variable */
  --green: #74BE6D;
  --yellow: #F8D943;
  --purple: #6f42c1;

  --dark-text: #D8D9DB;
  --dark-panel: #212025;
  --dark-background: #161719;
  --dark-border: #161618;
  --dark-accent: #302F34;
  --dark-green:#303D33;
  --dark-yellow: #453C2B;
  --dark-red: #44292E;

  --light-text: #51545D;
  --light-panel: #FFFFFF;
  --light-background: #F7F8FA;
  --light-border: #DBE4ED;
  --light-accent: #DADEE7;
  --light-green: #E1EFDE;
  --light-yellow: #FCF7DA;
  --light-red: #F9DADF;
  --light-purple: #c5abf9;

  --black: #000000;
  --white: #fff;

  --button-text-light: #d8d9da;
  --button-text-dark: #161719;

  --sidebar-size: 170px;
  --sidebar-btn-width: 130px;
    /* End */

    --blue: #4e73df;
    --indigo: #6610f2;
    --pink: #e83e8c;
    /* --red: #e74a3b; */
    --orange: #fd7e14;
    /* --yellow: #f6c23e; */
    /* --green: #1cc88a; */
    --teal: #20c9a6;
    --cyan: #36b9cc;
    /* --white: #fff; */
    --gray: #858796;
    --gray-dark: #5a5c69;
    --primary: #4e73df;
    --secondary: #858796;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --dark: #5a5c69;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

.not-found {
    position: relative;
    text-align: left;
}

.not-found-text{
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: black;
    top: 5%;
    left: 5%;
}

.forbidden-text{
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: white;
    top: 5%;
    left: 5%;
}


.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.graph-image {
 width: 200px;
 height: 200px;
}

.help-image {
 width: 100%;
}

.help-section {
    text-align: left;
}

ol.help-list > li {
    list-style-type: decimal;
}

ul.help-list > li {
  list-style-type: disc;
}

.help-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 5px solid;
}

.left-allign {
  text-align: left!important;
  align: left!important;
}

.gfconfig-text-align {
    text-align:left;
    float: left;
    width: 50%
}

.hide-display {
  display: none;
}

.full-height {
  height: 100%!important;
}

.inline-box{
    display: inline;
}

.name-button-box{
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.button-box{
    margin-left:auto; 
    margin-right:0;
}

.big-text{
    font-size: 150%;
}

.inline-box label{
    text-align:right;
    width: auto;
    min-width:150px;
}

.sensor-field-row{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
}

.sensor-field-row-item{
   display: inline-block;
   vertical-align: middle;
   margin: 5px;
   min-height: 30px;
}

.topbar-container {
  margin-left: 14%;
  position: fixed;
  width: 85%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--light-panel);
  border-color: var(--light-border);
  text-align: center;
  padding: 30px;
  border-style: solid;
  border-width: thin;
}

.mt-50 {
  margin-top: 50px
}

.sidebar-container {
  position: fixed;
  width: var(--sidebar-size);
  height: 100%;
  background: var(--light-panel);
  border-color: var(--light-border);
  text-align: center;
  padding-top: 30px;
  border-style: solid;
  border-width: thin;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-btn {
  width: var(--sidebar-btn-width);
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.team-logo {
  padding: 5px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: var(--light-background);
}

.panel {
  border-color:var(--light-border);
  background: var(--light-panel);
  text-align: center;
  margin: auto;
  vertical-align: middle;
  border-style: solid;
  border-width: thin;
  padding: 20px;
  min-width: 400px;
  width: 50%;
  overflow: auto;
}

.sensor-panel {
  border-color:var(--light-border);
  background: var(--light-panel);
  text-align: center;
  margin: auto;
  vertical-align: middle;
  border-style: solid;
  border-width: thin;
  padding: 20px;
  min-width: 400px;
  width: 75%;
  overflow: auto;
}

.grafana-current-tab {
  color: var(--button-text-dark);
  background-color: var(--light-accent);
  border-color: var(--light-accent);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.35rem;
}

.grafana-btn-block {
  color: var(--light-text);
  display: block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.grafana-btn {
  color: var(--light-text);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.grafana-btn:hover {
  color: var(--light-text);
  text-decoration: none;
}

.grafana-btn-gray {
  color: var(--light-text);
  background-color: var(--light-background);
  border-color: var(--light-background);
}

.grafana-btn-gray:hover {
  color: var(--button-text-dark);
  background-color: var(--light-accent);
  border-color: var(--light-accent);
}

.grafana-btn-green {
  color: var(--light-text);
  background-color: var(--light-green);
  border-color: var(--light-green);
}

.grafana-btn-green-help {
  color: var(--light-text);
  background-color: var(--light-green);
  border-color: var(--light-green);
}

.grafana-btn-green:hover {
  color: var(--button-text-dark);
  background-color: var(--green);
  border-color: var(--green);
}

.grafana-btn-red {
  color: var(--light-text);
  background-color: var(--light-red);
  border-color: var(--light-red);
}

.grafana-btn-red-help {
  color: var(--light-text);
  background-color: var(--light-red);
  border-color: var(--light-red);
}

.grafana-btn-red:hover {
  color: var(--button-text-dark);
  background-color: var(--red);
  border-color: var(--red);
}

.grafana-btn-yellow {
  color: var(--light-text);
  background-color: var(--light-yellow);
  border-color: var(--light-yellow);
}

.grafana-btn-yellow-help {
  color: var(--light-text);
  background-color: var(--light-yellow);
  border-color: var(--light-yellow);
}

.grafana-btn-yellow:hover {
  color: var(--button-text-dark);
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.error {
  color: var(--red)
}

.submitbutton {
width: 47%;
}

.sensor-fields-table {
border: none;
border-collapse: collapse;
table-layout: fixed ;
width: 100% ;
height: 100%;
}

.sensor-fields-table-th{
width: 1px;
border: none;
text-align: center;
}

.sensor-fields-table-td{
background-color: white;
width: 33%;
border: none;
text-align: center;
}

.sensor-fields-table-tr {
border: none;
}

.cancelbutton {
    width: 47%;
    float: left;
  }

.submitbutton {
    width: 47%;
  }

.index-text {
    color: var(--light-text);
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

    /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

/***************** RANDOM ATTRIBUTE SELECTORS *************/
[hidden] {
  display: none !important;
  }

[name="event_name"] {
width: 70%;
}

[name="event_location"] {
width: 70%;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
  }

/******************* ID SELECTOR STYLING ***********************************/

#grafana-base {
  padding-top: 50px;
  padding-left: var(--sidebar-size);
  overflow: hidden;
}

#grafana-base {
  padding-top: 50px;
  padding-left: var(--sidebar-size);
  overflow: hidden;
}

#grafana-panel {
  border-color:var(--light-border);
  background: var(--light-panel);
  text-align: center;
  margin: auto;
  vertical-align: middle;
  border-style: solid;
  border-width: thin;
  padding: 20px;
  width: 600px;
}

#grafana-text-box {
  color: var(--light-text);
  border-color:var(--light-border);
  background: var(--light-panel);
  text-align: left;
  margin: auto;
  vertical-align: middle;
  border-style: solid;
  border-width: thin;
  padding: 20px;
  width: 95%;
}

#grafana-text-box:hover {
  background-color: var(--light-background);
}

#grafana-panel {
  border-color:var(--light-border);
  background: var(--light-panel);
  text-align: center;
  margin: auto;
  vertical-align: middle;
  border-style: solid;
  border-width: thin;
  padding: 20px;
  width: 600px;
}

#grafana-text-box {
  color: var(--light-text);
  border-color:var(--light-border);
  background: var(--light-panel);
  text-align: left;
  margin: auto;
  vertical-align: middle;
  border-style: solid;
  border-width: thin;
  padding: 20px;
  width: 95%;
}

#grafana-text-box:hover {
  background-color: var(--light-background);
}
