{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mercury Telemetry</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-white">
		<div>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'mercury:index' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'mercury:simulator' %}">Simulator</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'mercury:dashboard' %}">Raw Telemetry</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://nyu-mercury-grafana.herokuapp.com/d/BjN37GJZk/nyu-mercury-poc-prod?orgId=1&refresh=5s">Dashboard</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'mercury:can-ui' %}">Can Decoder</a>
				</li>
			</ul>
		</div>
	</nav>
	{% block content %}
	{% endblock %}
</body>
</html>
