{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white" style ="z-index: 100" >
    <div class="container">
        <a class="nav-link grafana-btn" href="{% url 'mercury:index' %}" style="width: 280px;">
            <div><img src="{% static 'mercury/motorsports_logo.png' %}" class="team-logo"></div>
            <div>NYU Motorsports</div>
        </a>
        <div class="container">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="grafana-btn grafana-btn-gray"
                       href="https://nyu-mercury-grafana.herokuapp.com/d/BjN37GJZk/nyu-motorsports-telemetry-dashboard?orgId=1&refresh=5s"
                       target="_blank">Dashboard</a>
                </li>

                {% if request.path == "/index"%}
                    <li class="nav-item">
                        <div class="grafana-current-tab">Home</div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="grafana-btn grafana-btn-gray" href="{% url 'mercury:index' %}">Home</a>
                    </li>
                {% endif %}

                {% if request.path == "/stopwatch/"%}
                    <li class="nav-item">
                        <div class="grafana-current-tab">Stopwatch</div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="grafana-btn grafana-btn-gray" href="{% url 'mercury:stopwatch' %}">Stopwatch</a>
                    </li>
                {% endif %}

                {% if request.path == "/dashboard/"%}
                    <li class="nav-item">
                        <div class="grafana-current-tab">Raw Telemetry</div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="grafana-btn grafana-btn-gray" href="{% url 'mercury:dashboard' %}">Raw Telemetry</a>
                    </li>
                {% endif %}

                {% if request.path == "/simulator/"%}
                    <li class="nav-item">
                        <div class="grafana-current-tab">Simulator</div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="grafana-btn grafana-btn-gray" href="{% url 'mercury:simulator' %}">Simulator</a>
                    </li>
                {% endif %}

                {% if request.path == "/can/"%}
                    <li class="nav-item">
                        <div class="grafana-current-tab">CAN Decoder</div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="grafana-btn grafana-btn-gray" href="{% url 'mercury:can-ui' %}">CAN Decoder</a>
                    </li>
                {% endif %}


                {%  if request.session.event_code_known %}
                <li class="nav-item">
                    <a class="grafana-btn grafana-btn-red" href="{% url 'mercury:logout' %}" onclick="return confirm('Are you sure you want to logout?')">Logout</a>
                </li>
                {%  endif %}
            </ul>
        </div>
    </div>
</nav>
