<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<h1>Dashboard</h1>
<h3>The Simulated Data for each data packet sent is shown:</h3>
{%  load static %}
<script src="{%  static "/mercury/js/jquery-3.4.1.js" %}"></script>
<div>
    <table id="main_dash" style="border: 1px solid black">
        The simulated data for each data package is shown below:<br><br>
        <tr>
            <th>ID</th>
            <th>Vehicle Name</th>
            <th>Vehicle Owner</th>
            <th>Time</th>
            <th>Temperature</th>
            <th>X-axis accel</th>
            <th>Y-axis accel</th>
            <th>Z-axis accel</th>
            <th>FR speed</th>
            <th>FL speed</th>
            <th>BR speed</th>
            <th>BL speed</th>
            <th>FR susp</th>
            <th>FL susp</th>
            <th>BR susp</th>
            <th>BL susp</th>
        </tr>
        {% for item in all_data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.owner }}</td>
                <td>{{ item.created_at }}</td>
                <td>{{ item.temperature }}</td>
                <td>{{ item.acceleration_x }}</td>
                <td>{{ item.acceleration_y }}</td>
                <td>{{ item.acceleration_z }}</td>
                <td>{{ item.wheel_speed_fr }}</td>
                <td>{{ item.wheel_speed_fl }}</td>
                <td>{{ item.wheel_speed_br }}</td>
                <td>{{ item.wheel_speed_bl }}</td>
                <td>{{ item.suspension_fr }}</td>
                <td>{{ item.suspension_fl }}</td>
                <td>{{ item.suspension_br }}</td>
                <td>{{ item.suspension_bl }}</td>
            </tr>
        {%  endfor %}
        {#            Data Package ID: {{  item.id }}<br>#}
        {#            Name of the sender: {{ item.name }} <br>#}
        {#            Owner of the vehicle: {{  item.owner }}<br>#}
        {#            Time at which data was sent: {{ item.created_at }}<br>#}
        {#            Temperature of the vehicle: {{ item.temperature }}<br>#}
        {#            Acceleration of the vehicle: x-axis:  {{ item.acceleration_x }} , y-axis: {{item.acceleration_y  }}, z-axis: {{ item.acceleration_z }}<br>#}
        {#            Wheel Speed (4 Wheels): FR: {{item.wheel_speed_fr}}, FL: {{item.wheel_speed_fl}}, BR: {{item.wheel_speed_br}}, BL: {{item.wheel_speed_bl}}<br>#}
        {#            Compression/Suspension of the 4 Wheels: FR: {{item.suspension_fr}}, FL: {{item.suspension_fr}}, BR: {{item.suspension_fr}}, BL: {{item.suspension_fr}}<br>#}
    </table>
</div>
</body>
</html>