{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" http-equiv="refresh" content="5; URL=/dashboard/"/>
        <title>Mercury Raw Telemetry</title>
        <link rel="icon" href="{% static 'mercury/motorsports_logo.png' %}">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
        <script src="{% static "mercury/js/accordian.js" %}"></script>
    </head>
    <body>
        {% include 'sidebar.html' %}
        <div id="grafana-base">
            <div id="grafana-panel">
                <h1>
                    Reports
                    <a class="grafana-btn grafana-btn-gray" id= "accordion-btn" onclick="myFunction()">
                        <i class="material-icons-outlined" id="expand_more" style="display: block">expand_more</i>
                        <i class="material-icons-outlined" id="expand_less" style="display: none">expand_less</i>
                    </a>
                </h1>
                
                <div id="accordion-text">
                    Each table represents a vehicle sensor in the database. Each row in a given table displays a telemetry message (a metric). Rows are sorted by time in descending order (newest first). Columns in each table show the properties that are captured for each sensor. <br><br>
                    <b>Note:</b> page refreshes every few seconds and populates tables with newest messages in the database.
                </div>
            </div>

            <div id="grafana-panel">

                <div>
                    <!-- events is a list passed in the context if there are any events, otherwise will be an empty list -->
                    {% if events %}

                    <a class="grafana-btn grafana-btn-gray" id= "accordion-btn" onclick="displayForm()">
                        Change event
                        <i class="material-icons-outlined" id="show_form" style="display: block">expand_more</i>
                        <i class="material-icons-outlined" id="hide_form" style="display: none">expand_less</i>
                    </a>
                    <div id="accordion-event-form">
                        Select which event to change to.
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-bordered table-striped mb-0">
                                <thead>
                                <tr bgcolor="#e0efdf">
                                    <th>ID</th>
                                    <th>NAME</th>
                                    <th>LOCATION</th>
                                    <th>DATE</th>
                                    <th>DESCRIPTION</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in events %}
                                    <tr>
                                        <th>{{ item.event_uuid }}</th>
                                        <td>{{ item.event_name }}</td>
                                        <td>{{ item.event_location }}</td>
                                        <td>{{ item.event_date }}</td>
                                        <td>{{ item.event_description }}</td>
                                    </tr>
                                {%  endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                    <div>There are no events yet.</div>
                    <div><a href="/event">Create an event</a></div>
                    {% endif %}

                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-6">
                    <div class="sim-panel">
                        <h4>Temperature</h4>
                        
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-bordered table-striped mb-0">
                                <thead>
                                <tr bgcolor="#e0efdf">
                                    <th>ID</th>
                                    <th>Time</th>
                                    <th>Temperature</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in temp_data %}
                                    <tr>
                                        <th>{{ item.id }}</th>
                                        <td>{{ item.created_at }}</td>
                                        <td>{{ item.temperature }}</td>
                                    </tr>
                                {%  endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="sim-panel">
                        <h4>Acceleration</h4>
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-bordered table-striped mb-0">
                                <thead>
                                <tr bgcolor="#e0efdf">
                                    <th>ID</th>
                                    <th>Time</th>
                                    <th>X-axis accel</th>
                                    <th>Y-axis accel</th>
                                    <th>Z-axis accel</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in accel_data %}
                                    <tr>
                                        <th>{{ item.id }}</th>
                                        <td>{{ item.created_at }}</td>
                                        <td>{{ item.acceleration_x }}</td>
                                        <td>{{ item.acceleration_y }}</td>
                                        <td>{{ item.acceleration_z }}</td>
                                    </tr>
                                {%  endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 mb-6">
                    <div class="sim-panel">
                        <h4>Wheel Speed</h4>
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-bordered table-striped mb-0">
                                <thead>
                                <tr bgcolor="#e0efdf">
                                    <th>ID</th>
                                    <th>Time</th>
                                    <th>FR speed</th>
                                    <th>FL speed</th>
                                    <th>BR speed</th>
                                    <th>BL speed</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in ws_data %}
                                    <tr>
                                        <th>{{ item.id }}</th>
                                        <td>{{ item.created_at }}</td>
                                        <td>{{ item.wheel_speed_fr }}</td>
                                        <td>{{ item.wheel_speed_fl }}</td>
                                        <td>{{ item.wheel_speed_br }}</td>
                                        <td>{{ item.wheel_speed_bl }}</td>
                                    </tr>
                                {%  endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="sim-panel">
                        <h4>Suspension</h4>
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-bordered table-striped mb-0">
                                <thead>
                                <tr bgcolor="#e0efdf">
                                    <th >ID</th>
                                    <th>Time</th>
                                    <th>FR susp</th>
                                    <th>FL susp</th>
                                    <th>BR susp</th>
                                    <th>BL susp</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in ss_data %}
                                    <tr>
                                        <th>{{ item.id }}</th>
                                        <td>{{ item.created_at }}</td>
                                        <td>{{ item.suspension_fr }}</td>
                                        <td>{{ item.suspension_fl }}</td>
                                        <td>{{ item.suspension_br }}</td>
                                        <td>{{ item.suspension_bl }}</td>
                                    </tr>
                                {%  endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <br>
            <div class="row" align="center">
                <div class="col-lg-6 col-md-6 mb-6 col-centered">
                    <div class="sim-panel">
                        <h4>Fuel Level</h4>
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-bordered table-striped mb-0">
                                <thead>
                                <tr bgcolor="#e0efdf">
                                    <th>ID</th>
                                    <th>Time</th>
                                    <th>Fuel Level</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in fl_data %}
                                    <tr>
                                        <th>{{ item.id }}</th>
                                        <td>{{ item.created_at }}</td>
                                        <td>{{ item.current_fuel_level }}</td>
                                    </tr>
                                {%  endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br><br>
            </div>
        </div>
    </body>
</html>
