{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" http-equiv="refresh" content="5; URL=/dashboard/"/>
        <title>Mercury Raw Telemetry</title>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
    </head>
    <body> <center>
        {% include 'banner.html' %}
        <h1>Dashboard</h1>
        <h2>The Simulated Data for each snapshot</h2>
        <div><br>
                <h3>Temperature</h3>
            <table>
                <br>
                <tr bgcolor="#e0efdf">
                    <th>ID</th>
                    <th>Time</th>
                    <th>Temperature</th>
                </tr>
                {% for item in temp_data %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.created_at }}</td>
                        <td>{{ item.temperature }}</td>
                    </tr>
                {%  endfor %}
            </table><br><br>
            <br>
            <h3>Acceleration</h3>
            <table>
                <br>
                <tr bgcolor="#e0efdf">
                    <th>ID</th>
                    <th>Time</th>
                    <th>X-axis accel</th>
                    <th>Y-axis accel</th>
                    <th>Z-axis accel</th>
                </tr>
                {% for item in accel_data %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.created_at }}</td>
                        <td>{{ item.acceleration_x }}</td>
                        <td>{{ item.acceleration_y }}</td>
                        <td>{{ item.acceleration_z }}</td>
                    </tr>
                {%  endfor %}
            </table><br><br>
            <br>
            <h3>Wheel Speed</h3>
            <table>
                <br>
                <tr bgcolor="#e0efdf">
                    <th>ID</th>
                    <th>Time</th>
                    <th>FR speed</th>
                    <th>FL speed</th>
                    <th>BR speed</th>
                    <th>BL speed</th>
                </tr>
                {% for item in ws_data %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.created_at }}</td>
                        <td>{{ item.wheel_speed_fr }}</td>
                        <td>{{ item.wheel_speed_fl }}</td>
                        <td>{{ item.wheel_speed_br }}</td>
                        <td>{{ item.wheel_speed_bl }}</td>
                    </tr>
                {%  endfor %}
            </table>
            <br><br><br>
            <h3>Suspension</h3>
            <table>
                <br>
                <tr bgcolor="#e0efdf">
                    <th >ID</th>
                    <th>Time</th>
                    <th>FR susp</th>
                    <th>FL susp</th>
                    <th>BR susp</th>
                    <th>BL susp</th>
                </tr>
                {% for item in ss_data %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.created_at }}</td>
                        <td>{{ item.suspension_fr }}</td>
                        <td>{{ item.suspension_fl }}</td>
                        <td>{{ item.suspension_br }}</td>
                        <td>{{ item.suspension_bl }}</td>
                    </tr>
                {%  endfor %}
            </table>
            <br><br><br>
            <h3>Fuel Level</h3>
            <table>
                <br>
                <tr bgcolor="#e0efdf">
                    <th>ID</th>
                    <th>Time</th>
                    <th>Fuel Level</th>
                </tr>
                {% for item in fl_data %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.created_at }}</td>
                        <td>{{ item.current_fuel_level }}</td>
                    </tr>
                {%  endfor %}
            </table>
        </div>
    </body></center>
</html>
