{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Create Event</title>
        <link rel="icon" href="{% static 'mercury/motorsports_logo.png' %}">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
        <script src="{% static "mercury/js/jquery-3.4.1.js" %}"></script>
        <script src="{% static "mercury/js/events.js" %}"></script>
    </head>
    <body>
    {% include 'sidebar.html' %}
    <div class="topbar-container">
        <h1>Events</h1>
        <p>Here you can manage your venues and events as well as export data from Mercury.</p>
        <br>
        <div>
            <input class="grafana-btn grafana-btn-green" type="submit" onclick="toggleEventButton('all_events');" value="All Events">
            <input class="grafana-btn grafana-btn-green" type="submit" onclick="toggleEventButton('all_venues');" value="All Venues">
            <input class="grafana-btn grafana-btn-green" type="submit" onclick="toggleEventButton('create_event');" value="Create Event">
            <input class="grafana-btn grafana-btn-green" type="submit" onclick="toggleEventButton('create_venue');" value="Create Venue">
            <input class="grafana-btn grafana-btn-green" type="submit" onclick="toggleEventButton('update_event');" value="Update Existing Event">
            <input class="grafana-btn grafana-btn-green" type="submit" onclick="toggleEventButton('update_venue');" value="Update Existing Venue">
            <br><br>
            <a class="grafana-btn grafana-btn-green" href="export/all/csv">Export all to CSV</a>
            <a class="grafana-btn grafana-btn-green" href="export/all/json">Export all to JSON</a>
        </div>

    <!--Event Actions and Details -->
        <div id="all-events" class="mt-50">
            <h1>All Events</h1>
            {% if active_event %}
            <div>
                 <b>Active Event: {{ active_event.name }}</b>
            </div>
            {% else %}
                <div>
                    <b>There are no active events</b>
                </div>
            {% endif %}
            {% if events %}
                <div class="table-wrapper-scroll-y my-custom-scrollbar full-height">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                        <tr bgcolor="#e0efdf">
                            <th>NAME</th>
                            <th>Event Active</th>
                            <th>LOCATION</th>
                            <th>DATE</th>
                            <th>DESCRIPTION</th>
                            <th>ACTIONS</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in events %}
                            <tr>
                                <td>{{ item.name }}</td>

                                {% if  item == active_event %}
                                    <td>
                                        <label class="switch">
                                            <input id='{{ item.name }}' type="checkbox" checked="checked" onclick="location.href='deactivateevent/{{ item.uuid }}';">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                {% else %}
                                    <td>
                                        <label class="switch">
                                            {% csrf_token %}
                                            <input id='{{ item.name }}' type="checkbox" onclick="location.href='activateevent/{{ item.uuid }}';">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                {% endif %}
                                <td>{{ item.venue_uuid.name }}</td>
                                <td>{{ item.date }}</td>
                                <td>{{ item.description }}</td>
                                <td>
                                    <a class="grafana-btn grafana-btn-green" href="export/{{ item.uuid }}/csv">Export CSV</a>
                                    <br><br>
                                    <a class="grafana-btn grafana-btn-green" href="export/{{ item.uuid }}/json">Export JSON</a>
                                    <br><br>
                                    <a class="grafana-btn grafana-btn-red" href="delete/{{ item.uuid }}">Delete</a>
                                </td>
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                    <div>There are no events to show.</div>
            {% endif %}
        </div>

        <!-- All Venues -->
        <div id="all-venues" class="mt-50 hide-display">
            <h1>All Venues</h1>
            {% if venues %}
                <div class="table-wrapper-scroll-y my-custom-scrollbar full-height">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                        <tr bgcolor="#e0efdf">
                            <th>Sr. No.</th>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>LATITUDE</th>
                            <th>LONGITUDE</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in venues %}
                            <tr>
                                <td></td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.latitude }}</td>
                                <td>{{ item.longitude }}</td>
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                    <div>There are no events to show.</div>
            {% endif %}
        </div>


        <!--Create Events -->
        <div id="create-event" class="mt-50 hide-display">
            <h1>Create Event</h1>
            {% if event_form %}
                <form method="POST" action="" id="EventForm">
                    {% csrf_token %} {% load crispy_forms_tags %} {{ event_form|crispy }}
                    <br>
                    <div>
                        <input class="submitbutton grafana-btn grafana-btn-green" type="submit" name="submit-event" value="Submit">
                    </div>
                    <br> <br>
                </form>
            {% endif %}
        </div>


        <!--Create Venue -->
        <div id="create-venue" class="mt-50 hide-display">
            <h1>Create Location</h1>
            {% if venue_form %}
                <form method="POST" action="" id="VenueForm">
                    {% csrf_token %} {% load crispy_forms_tags %} {{ venue_form|crispy }}
                    <br>
                    <div>
                        <input class="submitbutton grafana-btn grafana-btn-green" type="submit" name="submit-venue" value="Submit">
                    </div>
                    <br> <br>
                </form>
            {% endif %}
        </div>


        <!--Update Events -->
        <div id="update-event" class="mt-50 hide-display">
            <h1>Update Event</h1>
            {% if events %}
               <div class="table-wrapper-scroll-y my-custom-scrollbar full-height">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                    <tr bgcolor="#e0efdf">
                        <th>Sr. No.</th>
                        <th>NAME</th>
                        <th>LOCATION</th>
                        <th>DATE</th>
                        <th>DESCRIPTION</th>
                        <th>UPDATE</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in events %}
                        <form method="POST" action="update/{{ item.uuid }}">
                        {% csrf_token %}
                        <tr>
                            <td></td>
                            <td><input type="text" name="name" id="name" value="{{ item.name }}" autocomplete="off"/></td>
                            <td>
                                <select name="venue_uuid">

                                    {% for ven in venues %}
                                        {% if ven.uuid == item.venue_uuid.uuid%}
                                            <option value={{ ven.uuid }} selected="selected">{{ ven.name }}</option>
                                        {% else %}
                                            <option value={{ ven.uuid }}>{{ ven.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>{{ item.date }}</td>
                            <td><textarea name="description" id="description">{{ item.description }}</textarea></td>
                            <td>
                                <input type="submit" value="Update">
                            </td>
                        </tr>
                        </form>
                    {%  endfor %}
                    </tbody>
                </table>
                </div>
            {% else %}
                    <div>There are no events to update.</div>
            {% endif %}
        </div>

         <!--Update Venue -->
        <div id="update-venue" class="mt-50 hide-display">
            <h1>Update Venue</h1>
            {% if venues %}
                <div class="table-wrapper-scroll-y my-custom-scrollbar full-height">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                        <tr bgcolor="#e0efdf">
                            <th>Sr. No.</th>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>LATITUDE</th>
                            <th>LONGITUDE</th>
                            <th>UPDATE</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in venues %}
                            <form method="POST" action="updatevenue/{{ item.uuid }}">
                            {% csrf_token %}
                            <tr>
                                <td></td>
                                <td><input type="text" name="name" id="name" value="{{ item.name }}" autocomplete="off"/></td>
                                <td><textarea name="description" id="description">{{ item.description }}</textarea></td>
                                <td><input type="text" name="latitude" id="latitude" value="{{ item.latitude }}" autocomplete="off"/></td>
                                <td><input type="text" name="longitude" id="longitude" value="{{ item.longitude }}" autocomplete="off"/></td>
                                <td>
                                    <input type="submit" value="Update">
                                </td>
                            </tr>
                            </form>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                    <div>There are no events to show.</div>
            {% endif %}
        </div>
    </div>
    </body>
</html>