{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Event</title>
        <link rel="icon" href="{% static 'mercury/motorsports_logo.png' %}">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
        <script src="{% static "mercury/js/jquery-3.4.1.js" %}"></script>
    </head>
    <body>
        {% include 'sidebar.html' %}
        <div id="grafana-base">
        <!-- <div class="col-lg-6 col-md-6 mb-6 col-centered"> -->
            <div id="grafana-panel">
                <h1>
                    Create Event
                </h1>

                {% if event_form %}
                    <form method="POST" action="" id="EventForm">
                        {% csrf_token %} {% load crispy_forms_tags %} {{ event_form|crispy }}
                        <br>
                        <div>
                            <input class="cancelbutton simulator-btn grafana-btn grafana-btn-red" type="submit" name="submit" value="Cancel">
                            <input class="submitbutton simulator-btn grafana-btn grafana-btn-green" type="submit" name="submit" value="Submit">
                        </div>
                        <br> <br>
                    </form>
                {% endif %}
                <br>
                <p class="error" id="para"></p>
            </div>
        </div>
    </body>
</html>
