{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Create Event</title>
        <link rel="icon" href="{% static 'mercury/motorsports_logo.png' %}">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
        <script src="{% static "mercury/js/jquery-3.4.1.js" %}"></script>
        <script src="{% static 'mercury/js/reverse.js' %}"></script>
        <script src="{% static "mercury/js/events.js" %}"></script>
    </head>
    <body>
    {% include 'sidebar.html' %}
    <div class="topbar-container">
        <h1>Events</h1>
        <p>Here you can manage your venues and events as well as export data from Mercury.</p>
        <br>
        <div>
            <input class="grafana-btn grafana-btn-green" type="submit" onclick="toggleEventButton('all_events');" value="All Events">
            <input class="grafana-btn grafana-btn-green" type="submit" onclick="toggleEventButton('all_venues');" value="All Venues">
            <input class="grafana-btn grafana-btn-green" type="submit" onclick="toggleEventButton('create_event');" value="Create Event">
            <input class="grafana-btn grafana-btn-green" type="submit" onclick="toggleEventButton('create_venue');" value="Create Venue">
            <input class="grafana-btn grafana-btn-green" type="submit" onclick="toggleEventButton('update_event');" value="Update Existing Event">
            <input class="grafana-btn grafana-btn-green" type="submit" onclick="toggleEventButton('update_venue');" value="Update Existing Venue">
            <br><br>
            <a class="grafana-btn grafana-btn-green" href="export/all/csv">Export all to CSV</a>
            <a class="grafana-btn grafana-btn-green" href="export/all/json">Export all to JSON</a>
            <input class="grafana-btn grafana-btn-green" type="submit" onclick="toggleEventButton('help-events');" value="Help">
        </div>

    <!--Event Actions and Details -->
        <div id="all-events" class="mt-50 hide-display">
            <h1>All Events</h1>
            {% if active_event %}
            <div>
                 <b>Active Event: {{ active_event.name }}</b>
            </div>
            {% else %}
                <div>
                    <b>There are no active events</b>
                </div>
            {% endif %}
            {% if events %}
                <div class="table-wrapper-scroll-y my-custom-scrollbar full-height">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                        <tr bgcolor="#e0efdf">
                            <th>NAME</th>
                            <th>Event Active</th>
                            <th>VENUE</th>
                            <th>DATE</th>
                            <th>DESCRIPTION</th>
                            <th>ACTIONS</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in events %}
                            <form id="{{ item.uuid }}-delete-form" action="delete/{{ item.uuid }}"></form>

                            <tr>
                                <td>{{ item.name }}</td>

                                {% if  item == active_event %}
                                    <td>
                                        <label class="switch">
                                            <input id='{{ item.name }}' type="checkbox" checked="checked" onclick="location.href='deactivateevent/{{ item.uuid }}';">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                {% else %}
                                    <td>
                                        <label class="switch">
                                            {% csrf_token %}
                                            <input id='{{ item.name }}' type="checkbox" onclick="location.href='activateevent/{{ item.uuid }}';">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                {% endif %}
                                <td>{{ item.venue_uuid.name }}</td>
                                <td>{{ item.date }}</td>
                                <td>{{ item.description }}</td>
                                <td>
                                    <a class="grafana-btn grafana-btn-green" href="export/{{ item.uuid }}/csv">Export CSV</a>
                                    <br><br>
                                    <a class="grafana-btn grafana-btn-green" href="export/{{ item.uuid }}/json">Export JSON</a>
                                    <br><br>
                                    <button type="submit"
                                    form="{{ item.uuid }}-delete-form"
                                    id="{{ item.uuid }}" name="delete-event"
                                    class="grafana-btn grafana-btn-red"
                                    href="delete/{{ item.uuid }}">Delete</a>
                                </td>
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>

                    {% for event in events %}
                    <div id="{{ event.uuid }}-warning"
                         class="error hide-display">
                        <h5>Deleting the event will delete existing measurement
                            data.
                        </h5>
                        <button form="delete-event-form"
                        type="button" id="{{ event.uuid }}-warning-continue"
                        class="grafana-btn-green">
                            Delete anyway
                        </button>
                        <button type="button" id="{{ event.uuid }}-warning-export"
                                class="grafana-btn-yellow">
                            Export the existing data first
                        </button>
                        <button type="button"
                                id="{{ event.uuid }}-warning-cancel"
                                class="grafana-btn-red">
                            Cancel
                        </button>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                    <div>There are no events to show.</div>
            {% endif %}
        </div>

        <!-- All Venues -->
        <div id="all-venues" class="mt-50 hide-display">
            <h1>All Venues</h1>
            {% if venues %}
                <div class="table-wrapper-scroll-y my-custom-scrollbar full-height">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                        <tr bgcolor="#e0efdf">
                            <th>Sr. No</th>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>LATITUDE</th>
                            <th>LONGITUDE</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in venues %}
                            <tr>
                                <td></td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.latitude }}</td>
                                <td>{{ item.longitude }}</td>
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                    <div>There are no events to show.</div>
            {% endif %}
        </div>


        <!--Create Events -->
        <div id="create-event" class="mt-50 hide-display">
            <h1>Create Event</h1>
            {% if event_form %}
                <form method="POST" action="" id="EventForm">
                    {% csrf_token %} {% load crispy_forms_tags %} {{ event_form|crispy }}
                    <br>
                    <div>
                        <input class="submitbutton grafana-btn grafana-btn-green" type="submit" name="submit-event" value="Submit">
                    </div>
                    <br> <br>
                </form>
            {% endif %}
        </div>


        <!--Create Venue -->
        <div id="create-venue" class="mt-50 hide-display">
            <h1>Create Venue</h1>
            {% if venue_form %}
                <form method="POST" action="" id="VenueForm">
                    {% csrf_token %} {% load crispy_forms_tags %} {{ venue_form|crispy }}
                    <br>
                    <div>
                        <input class="submitbutton grafana-btn grafana-btn-green" type="submit" name="submit-venue" value="Submit">
                    </div>
                    <br> <br>
                </form>
            {% endif %}
        </div>


        <!--Update Events -->
        <div id="update-event" class="mt-50 hide-display">
            <h1>Update Event</h1>
            {% if events %}
               <div class="table-wrapper-scroll-y my-custom-scrollbar full-height">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                    <tr bgcolor="#e0efdf">
                        <th>NAME</th>
                        <th>VENUE</th>
                        <th>DATE</th>
                        <th>DESCRIPTION</th>
                        <th>UPDATE</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in events %}
                        <form method="POST" action="update/{{ item.uuid }}">
                        {% csrf_token %}
                        <tr>
                            <td><input type="text" name="name" id="name" value="{{ item.name }}" autocomplete="off"/></td>
                            <td>
                                <select name="venue_uuid">

                                    {% for ven in venues %}
                                        {% if ven.uuid == item.venue_uuid.uuid%}
                                            <option value={{ ven.uuid }} selected="selected">{{ ven.name }}</option>
                                        {% else %}
                                            <option value={{ ven.uuid }}>{{ ven.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>{{ item.date }}</td>
                            <td><textarea name="description" id="description">{{ item.description }}</textarea></td>
                            <td>
                                <input type="submit" value="Update">
                            </td>
                        </tr>
                        </form>
                    {%  endfor %}
                    </tbody>
                </table>
                </div>
            {% else %}
                    <div>There are no events to update.</div>
            {% endif %}
        </div>

         <!--Update Venue -->
        <div id="update-venue" class="mt-50 hide-display">
            <h1>Update Venue</h1>
            {% if venues %}
                <div class="table-wrapper-scroll-y my-custom-scrollbar full-height">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                        <tr bgcolor="#e0efdf">
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>LATITUDE</th>
                            <th>LONGITUDE</th>
                            <th>UPDATE</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in venues %}
                            <form method="POST" action="updatevenue/{{ item.uuid }}">
                            {% csrf_token %}
                            <tr>
                                <td><input type="text" name="name" id="name" value="{{ item.name }}" autocomplete="off"/></td>
                                <td><textarea name="description" id="description">{{ item.description }}</textarea></td>
                                <td><input type="text" name="latitude" id="latitude" value="{{ item.latitude }}" autocomplete="off"/></td>
                                <td><input type="text" name="longitude" id="longitude" value="{{ item.longitude }}" autocomplete="off"/></td>
                                <td>
                                    <input type="submit" value="Update">
                                </td>
                            </tr>
                            </form>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                    <div>There are no events to show.</div>
            {% endif %}
        </div>


        <!-- Help Document -->
        <div id="help-events" class="mt-50 left-allign">
            <h2 class="left-allign">1. All Events</h2>
            <p>Events can be considered as the identifier for the incoming data to the application from the vehicle. You can view
                the existing events by clicking on All Events<br><br><b>You should see a table like below:</b>
               <img class=help-image src="{% static 'mercury/all_events.png' %}">
                <ul>
                <b>The different columns of this table are as follows:</b>
                    <li><b>Name:</b> Name of the Event.</li>
                <li><b>Active Event:</b> A switch to make the event active. <b>A single event should be active to store the incoming data.</b>< All the
                incoming data to the application is mapped to the active event.</li>
                <li><b>Venue:</b> The venue of the event. </li>
                <li><b>Description:</b> The description related to the event.</li>
                <li><b>Actions:</b> This column lists the different actions available for each event.
                    <ol>
                        <li><b>Export CSV: </b> User can export the data for the event in a csv format by clicking on this button.</li>
                        <li><b>Export JSON: </b> User can export the data for the event in a json format by clicking on this button.</li>
                        <li><b>Delete: </b> User can delete the event by clicking on this button. <b>All the event data will be lost if user deletes that event.</b></li>
                    </ol>
                </li>
                </ul>
            </p>

            <br><br>

            <h2 class="left-allign">2. All Venues</h2>
            <p>Venues are coupled with an Event, in order to map the event to a location. You can view
                the existing events by clicking on All Events<br><br><b>You should see a table like below:</b>
               <img class=help-image src="{% static 'mercury/all_venues.png' %}">
                <ul>
                <b>The different columns of this table are as follows:</b>
                    <li><b>Name:</b> Name of the Venue.</li>
                <li><b>Description:</b> The description related to the Venue.</li>
                <li><b>Latitude:</b> The Latitude for this Venue.</li>
                <li><b>Longitude:</b> The Longitude for this Venue.</li>
                </ul>
            </p>

            <br><br>


            <h2 class="left-allign">3. Creating an Event</h2>
            <p>Events can be considered as the identifier for the incoming data to the application from the vehicle. You can create a new event by navigating to
                Events tab on sidebar and then selecting Create Event. <br><br><b>You should see a form like below:</b>
               <img class=help-image src="{% static 'mercury/create_event_form.png' %}">
                <ul>
                <b>The different attributes of this form are as follow:</b>
                    <li><b>Name:</b> Any name of your choice to the event. example: Race 1, Race New York, etc.</li>
                    <li><b>Date:</b> Select the date of this event in format <b>dd/mm/yyyy, hrs:min:AM/PM</b>. All the inputs are mandatory.</li>
                    <li><b>Description:</b> A small description related to the event. example: Practice for Race 1, Testing the newly integrated sensors, etc.</li>
                    <li><b>Venue uuid:</b> The venue of the event. This is a dropdown selection where we can see the list of available venues. If you don't see any venues
                        in this list. Make sure you have created a venue. <b>At least one venue is required to create the event.</b></li>
            <li><b>Submit:</b> Once you have filled all the values, you can submit and the event should be created. <b>To view the events click on All Events.</b></li>
                </ul>
            </p>

            <br><br>

            <h2 class="left-allign">4. Creating a Venue</h2>
            <p>Venues are coupled with an Event, in order to map the event to a location. You can create a new venue by navigating to
                Manage Events tab on sidebar and then selecting Create Venue. <br><br><b>You should see a form like below:</b>
               <img class=help-image src="{% static 'mercury/create_venue_form.png' %}">
                <ul>
                <b>The different attributes of this form are as follow:</b>
                    <li><b>Name:</b> Any name of your choice to the venue. example: New York, California etc.</li>
                    <li><b>Description:</b> A small description related to the venue. example: Race Track 1, Race Track 2 etc.</li>
                    <li><b>Latitude:</b> Enter the Latitude for this location.</li>
                    <li><b>Longitude:</b> Enter the Longitude for this location.</li>
            <li><b>Submit:</b> Once you have filled all the values, you can submit and the venue should be created. <b>To view the venue click on All Venues.</b></li>
                </ul>
            </p>

            <br><br>

            <h2 class="left-allign">5. Updating an Event</h2>
            <p>Once you have created an Event, and wish to update some attributes for the same event. You can do it by navigating to
                Manage Events tab on sidebar and then click on Update Event. <br><br><b>You should see a table like below:</b>
               <img class=help-image src="{% static 'mercury/update_event.png' %}">
                <ul>
                <b>The different attributes you can update are as follows:</b>
                    <li><b>Name:</b> Updated name of your choice to the Event. example: Race 1, Race 2 etc.</li>
                    <li><b>Venue:</b> Select the updated venue from the dropdown.</li>
                    <li><b>Description:</b> An updated description related to the Event. example: Race on Track 1 under Driver Robert, Race Track 2 etc.</li>
                    <li><b>Update:</b> Once you have updated the values, you can click on update and the Event details should have been updated.</li>
                </ul>
            </p>


            <br><br>

            <h2 class="left-allign">6. Updating a Venue</h2>
            <p>Once you have created a Venue, and wish to update some attributes for the same venue. You can do it by navigating to
                Manage Events tab on sidebar and then click on Update Venue. <br><br><b>You should see a table like below:</b>
               <img class=help-image src="{% static 'mercury/update_venue.png' %}">
                <ul>
                <b>The different attributes you can update are as follows:</b>
                    <li><b>Name:</b> Updated name of your choice to the venue. example: New York, California etc.</li>
                    <li><b>Description:</b> An updated description related to the venue. example: Race Track 1, Race Track 2 etc.</li>
                    <li><b>Latitude:</b> Enter the updated Latitude for this location.</li>
                    <li><b>Longitude:</b> Enter the updated Longitude for this location.</li>
                    <li><b>Update:</b> Once you have updated the values, you can click on update and the Venue details should have been updated.</li>
                </ul>
            </p>

            <br><br>

            <h2 class="left-allign">7. Export all to CSV</h2>
            <p>User can click on this button to download a csv file, which will contain the data for all the events.
                <br>
                <b>The csv file will be having the following columns as shown in below screenshot:</b>
                <img class=help-image src="{% static 'mercury/csv_structure.png' %}">
                <ul>
                <b>The different columns are:</b>
                    <li><b>S.No:</b> A serial number assigned to each row of the file. (starting from 1)</li>
                    <li><b>Event Name:</b> Name of the event, specific to the particular row.</li>
                    <li><b>Event Date:</b> Date of the event, specific to the particular row.</li>
                    <li><b>Event Description:</b> Description of the event, specific to the particular row.</li>
                    <li><b>Venue Name:</b> Name of the venue where the event was hosted, specific to the particular row.</li>
                    <li><b>Sensor Name:</b> Name of the Sensor, specific to the particular row.</li>
                    <li><b>Sensor Data TimeStamp:</b> Timestamp of the Sensor while collecting the data, specific to the particular row.</li>
                    <li><b>Sensor Value:</b> Measurement collected for the sensor, specific to the particular row.</li>
                </ul>
            </p>

            <br><br>

            <h2 class="left-allign">8. Export all to JSON</h2>
            <p>User can click on this button to download a zip file containing different JSON files for each event.
                <br>
                <b>The JSON file will be having the following structure as shown in below screenshot:</b>
            </p>
        </div>



    </div>
    </body>
</html>