<!-- Bootstrap messages (please don't delete this Ray) -->
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configure Grafana</title>
    <link rel="icon" href="{% static 'mercury/motorsports_logo.png' %}">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
    <script src="{% static 'mercury/js/gf_config.js' %}"></script>
    <script src="{% static 'mercury/js/jquery-3.4.1.js' %}"></script>
</head>

<body>
{% include 'sidebar.html' %}
<div class="topbar-container">
    <h1>Configure Grafana</h1>

    <!--Configs Table -->
    <div>

        <div>
            <input class="grafana-btn grafana-btn-green" type="submit"
                   onclick="toggleButton('existing-gf-hosts');"
                   value="Existing Grafana Hosts">
            <input class="grafana-btn grafana-btn-green" type="submit"
                   onclick="toggleButton('add-gf-host');" value="Add Grafana Host">
            <input class="grafana-btn grafana-btn-green" type="submit"
                   onclick="toggleButton('update-gf-config');"
                   value="Update Grafana Credentials">
            <input class="grafana-btn grafana-btn-green" type="submit"
                   onclick="toggleButton('help-gf-config');" value="Help">
            <br><br>
        </div>

        {% if configs %}
        <div id="existing-gf-hosts" class="mt-50 ">

            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                    <tr bgcolor="#e0efdf">
                        <th>Label</th>
                        <th>Grafana Host</th>
                        <th>Event Dashboards</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <!--href="configure/{{ item.id }}"
                                    target="page"-->
                    <tbody>
                    {% for item in configs %}
                    <tr>
                        <th>{{ item.gf_name }}</th>
                        <td>{{ item.gf_host }}</td>
                        <td>
                            <button name="show-dashboards"
                                    id="{{ item.id }}">Show Dashboards
                            </button>
                        </td>
                        <td><a id="delete_{{ item.uuid }}" name="delete-event"
                               href="delete/{{ item.id }}">Delete
                        </a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>

            <div>

                {% for item in configs %}
                <iframe
                        id="dashboard_{{ item.id }}"
                        class="hide-display"
                        src="configure/{{ item.id }}"
                        name="show-dashboards-iframe"
                        width="100%"
                        height="100%"
                ></iframe>
                {% endfor %}

            </div>


        </div>
        {% endif %}


        <div id="add-gf-host" class="mt-50 hide-display">
            <h2>Add Grafana Host</h2>
            <p>Add a new Grafana host using username/password or an API key. We will create
                Grafana dashboards for all of your current events and populate the
                dashboards with your sensors. </p>
            
            {% if config_form %}
            <form>
                <label class="radio-inline">
                    <input type="radio" name="optradio" id="radioLogin" 
                    onChange="radioSelect('login');">Use Login&nbsp;
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" 
                    onChange="radioSelect('api');">Use API Key
                </label>
            </form>

            <form method="POST" action="" id="GFConfigForm">
                {% csrf_token %} {% load crispy_forms_tags %} {{ config_form|crispy }}
                <br>
                <div>
                    <input
                            class="submitbutton simulator-btn grafana-btn grafana-btn-green"
                            type="submit" name="submit" value="Submit">
                </div>
                <br> <br>
            </form>
            {% endif %}
        </div>

        {% if configs %}
        <div id="update-gf-config" class="mt-50 hide-display">
            <h2>Update Grafana Credentials</h2>
            <p>Update username/password or API key for an existing Grafana instance.</p>
            {% if config_form_update %}
            <form>
                <label class="radio-inline">
                    <input type="radio" name="optradio" id="radioLogin2" 
                    onChange="radioSelect('login');">Update Login&nbsp;
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" 
                    onChange="radioSelect('api');">Update API Key
                </label>
            </form>

            <form method="POST" action="" id="GFConfigFormUpdate">
                {% csrf_token %} {% load crispy_forms_tags %}
                {{ config_form_update|crispy }}
                <br>
                <div>
                    <input type="hidden" name="update-config" value="1">
                    <input
                            class="submitbutton simulator-btn grafana-btn grafana-btn-green"
                            type="submit" name="submit" value="Submit">
                </div>
                <br> <br>
            </form>
            {% endif %}
        </div>
        {% endif %}

        <div id="help-gf-config" class="mt-50 help-section hide-display">
            <a target="_blank" class="help-text"
               href="{{ configure_grafana_github_url }}">
                View the Configure Grafana Help Documentation</a>
        </div>


    </div>
</body>
</html>
