<!-- Bootstrap messages (please don't delete this Ray) -->
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Configure Dashboards</title>
    </head>
        <link rel="icon" href="{% static 'mercury/motorsports_logo.png' %}">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
        <script src="{% static "mercury/js/jquery-3.4.1.js" %}"></script>
    </head>

    <body>
        <!-- View Existing Dashboards -->
        <div>
            <div>
            <h2>
            {{ config.config.gf_name }}
            </a></h2>

            <h4>View Grafana dashboards for the {{ config.config.gf_name }}
            instance
             <a target="_blank"
            href="{{ config.config.gf_host }}/dashboards"/>here.</a> </h4>


            {% if config.dashboards %}

                {% for dashboard in config.dashboards %}

                    <div class="panel" name="{{ dashboard.name }}">

                        <h4 class="gfconfig-text-align"> Event: {{ dashboard.name }}
                        <a class="gfconfig-text-align" target="_blank"
                        href="{{ dashboard.dashboard_url }}">
                       View Dashboard in Grafana</a>
                        </h4>


                        <br>

                        <form class="gfconfig-text-align" method="POST"
                        action="update_dashboard/{{ config.config.id }}"
                        id="update_{{ dashboard.name }}_{{ config.config.id }}">
                        {% csrf_token %} {% load crispy_forms_tags %}
                        <h5> Sensor Panels: </h5>
                        {{ dashboard.sensor_form|crispy }}

                            <input type="hidden" name="dashboard_name"
                                value="{{ dashboard.name }}">

                         <input form="update_{{ dashboard.name }}_{{ config.config.id }}"
                            class="submitbutton simulator-btn grafana-btn
                            grafana-btn-green gfconfig-text-align" type="submit"
                            name="submit-update-sensors"
                            value="Update Panels">

                            <input form="reset_{{ dashboard.name }}_{{ config.config.id }}" class="submitbutton simulator-btn
                            grafana-btn
                            grafana-btn-yellow gfconfig-text-align" type="submit"
                            name="submit-reset-dashboard"
                            value="Reset Panels">
                        </form>

                         <div>
                        <input form="delete_{{ dashboard.name }}_{{ config.config.id }}"
                        class="submitbutton simulator-btn
                        grafana-btn
                        grafana-btn-red gfconfig-text-align" type="submit"
                        name="submit-delete-dashboard"
                        value="Delete Dashboard">
                        </div>

                        <form class="gfconfig-text-align" method="POST"
                        action="reset_dashboard/{{ config.config.id }}"
                        id="reset_{{ dashboard.name }}_{{ config.config.id }}">
                        {% csrf_token %} {% load crispy_forms_tags %}

                            <input type="hidden" name="dashboard_name"
                                value="{{ dashboard.name }}">
                        </form>

                        <form class="gfconfig-text-align" method="POST"
                        action="delete_dashboard/{{ config.config.id }}"
                        id="delete_{{ dashboard.name }}_{{ config.config.id }}">
                        {% csrf_token %} {% load crispy_forms_tags %}
                            <input type="hidden" name="dashboard_name"
                                value="{{ dashboard.name }}">
                        </form>

                        <br>

                            <br> <br>
                    </div>
                {% endfor %}

                {% else %}

                <h5> <em>No dashboards yet... </em> </h5>

                {% endif %}

                {% if config.missing_events %}

                <div class="panel">

                        <form method="POST"
                        action="create_dashboard/{{ config.config.id }}"
                        id="create_{{ missing_event.name }}_{{ config.config.id }}">

                        {% csrf_token %} {% load crispy_forms_tags %}

                        <input type="hidden" name="config_id"
                        value="{{ config.config.id }}">

                        <h5> There are missing dashboards. Add one? </h5>

                        <select name="selected_event_name">
                        {% for missing_event in config.missing_events %}

                        <option>{{ missing_event.name }}</option>

                        {% endfor %}
                        </select>

                        <br>

                        <input
                        class="submitbutton simulator-btn
                        grafana-btn
                        grafana-btn-green" type="submit"
                        name="submit-create-dashboard"
                        value="Add Dashboard for this Event">

                        </form>
                </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>
