{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">

<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <title>Mercury - NYU Tandon Telemetry</title>
      <link rel="icon" href="{% static 'mercury/favicon.png' %}">
      <script>
          function RedirectSimulator() {
              window.location="/simulator/";
          }
          function RedirectDashboard() {
              window.location="/dashboard/";
          }
          function RedirectCAN() {
              window.location="/can/";
          }
          function RedirectStopwatch() {
              window.location="/stopwatch/";
          }
          function newGrafanaWindow() {
              window.open("https://nyu-mercury-grafana.herokuapp.com/d/BjN37GJZk/nyu-motorsports-telemetry-dashboard?orgId=1&refresh=5s");
          }
      </script>
  </head>
<body>
{% include 'banner.html' %}

  <div id="grafana-base">
    <div id="grafana-panel">
      <br>
      <h1>NYU Motorsports Telemetry</h1>
      <br>
      This platform allows for monitoring of NYU Tandon’s Motorsports program racing vehicles. 
      Our simulator generates data such as suspension, temperature, acceleration, wheel speed, and fuel level. 
      The Raw Telemetry section shows data in tabular format, while the Dashboard shows data in easy-to-view graphs. 
      The CAN Decoder is a User Interface on top of an API that can accept a CAN message, decode it, and store the metrics in the database. 
      Access to the stopwatch to track lap times during a race. 
      <br><br>
    </div>
  </div>
</body>
</html>
