{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mercury Telemetry</title>
        <link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
        <link rel="icon" href="{% static 'mercury/motorsports_logo.png' %}">
    </head>
<body>
    {% include 'sidebar.html' %}
    <div id="grafana-base">
        <div id="grafana-panel">
            <h1>NYU Motorsports Telemetry</h1>
            <p style="text-align: left; margin: 25px;"> Telemetry platform for monitoring <a href="https://www.nyutandonmotorsports.com/" target="_blank" style="color: var(--light-text); text-decoration: underline;">NYU Tandon's Motorsports</a> BAJA SAE competition vehicle. This platform supports visualization of data from vehicle sensors along with several auxiliary features.</p>

            <a href="{% url 'mercury:pitcrew' %}">
                <div class="index-text" id="grafana-text-box">
                    <h3>Pit Crew Display</h3>
                    View and configure pit crew display
                </div>
            </a>

            <br>
            <a href="{% url 'mercury:events' %}">
                <div class="index-text" id="grafana-text-box">
                    <h3>Manage Events</h3>
                    Adding a new event and updating the existing events.
                </div>
            </a>

            <br>
            <a href="{% url 'mercury:sensor' %}">
                <div class="index-text" id="grafana-text-box">
                    <h3>Configure Sensors</h3>
                    Configure all sensors with custom fields.
                </div>
            </a>

            <br>
            <a href="{% url 'mercury:gfconfig' %}">
                <div class="index-text" id="grafana-text-box">
                    <h3>Configure Grafana</h3>
                    Add or change Grafana hosts.
                </div>
            </a>
        </div>
        <br>
    </div>
</body>
</html>