<!DOCTYPE html>
<html>
  <div style='text-align:center'>
    <head>
        <meta charset="utf-8">
        <title>Mercury - NYU Tandon Telemetry</title>
        <script>
            function RedirectSimulator() {
                window.location="/simulator/";
            }
            function RedirectDashboard() {
                window.location="/dashboard/";
            }            
        </script>
    </head>
    <body>

        <h1>NYU Motorsports Telemetry</h1>
        <h2>TODO: Simulator Panels</h2>
    <a href="/about/">About Telemetry</a>
        <br>
        <br>


    {% block title %}<b>Login Page</b>{% endblock %}

    {% block content %}
        <br>
    {% if user.is_authenticated %}
    <br>
      Hi user: {{ user.username }}!
      <br>
      <br>
      <button onclick="RedirectSimulator();">Simulator</button>
      <br>
      <br>
      <button onclick="RedirectDashboard();">Dashboard</button>
      <br>
      <br>
      <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>
    {% endif %}
    {% endblock %}

    </body>
  </div>
</html>
