{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'mercury/motorsports_logo.png' %}">
    <title>Mercury Event Access</title>
</head>
<body>
{% include 'sidebar.html' %}
<div style="padding: 30px;">
    <div id="grafana-base">
        <div id="grafana-panel">
            <br>
            <h1>NYU Motorsports Telemetry</h1>
            <br>
            {% if active_event %}
                <p>There is currently an active event. Use of this application is protected by the active event code.</p>
                <br>
            {%  endif %}
            <form method="post" action="{% url 'mercury:EventAccess' %}">
                {% csrf_token %}
                {% for message in messages %}
                    <p class="error"> {{ message }} </p>
                {% endfor %}
                <label>Event Code:</label>
                <input type="text" name="eventcode" placeholder="Enter Event Code" required maxlength="8">
                <br>
                <input type="submit" class="grafana-btn grafana-btn-green" name="" value="Submit">
            </form>
            <p>If you are an NYU Motorsports Telemetry admin, login to the <a class="navbar-link"
                                                                              href="{% url 'admin:index' %}">Admin
                Portal</a> to manage events.</p>
        </div>
    </div>
</div>
</body>
</html>