<!-- Page styling must be fixed -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add or Modify Sensors</title>
    <link rel="icon" href="{% static 'mercury/motorsports_logo.png' %}">
    <link rel="preload" href="{% static 'mercury/technical_difficulties.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
    <script src="{% static "mercury/js/sensor.js" %}" defer></script>
</head>

<body onload="selectView();">
    {% include 'sidebar.html' %}
    <div id="grafana-base"> <!-- app default background -->
        <h1> Add or Modify Sensors </h1>

        <nav>
            <ul>
                <!-- Note that the button tag without type="button" will default into type="submit" and POST / GET in some browsers and contexts (like when used inside form) -->
                <li><button onclick="displayCurrentSensors()" type="button" id="current-sensor-btn" class="grafana-btn"> Modify Current Sensors </button></li>
                <li><button onclick="displayAddNewSensor()" type= "button" id="add-sensor-btn" class="grafana-btn"> Add New Sensor </button></li>
                <li><button onclick="displayAddNewSensorType()" type= "button" id="add-sensor-type-btn" class="grafana-btn"> Add New Sensor Type </button></li>
                <li><button onclick="displaySensorTypes()" type= "button" id="view-sensor-types-btn" class="grafana-btn"> View Sensor Types </button></li>
            </ul>
        </nav>

        <div id="existing-sensors">
            <h2>Existing sensors</h2>

            {% if sensors %}
                {% for sensor in sensors %}
                <div class="panel">
                    <h2 contenteditable="false" id="{{ sensor.name }}">
                    {{ sensor.name }}</h2>

                    <h4 class="inline-block-child"><u>Sensor Name</u></h4>
                    <h4 class="inline-block-child"><u>Sensor ID</u></h4>
                    <h4 class="inline-block-child"><u>Sensor Type</u></h4>

                    <div>
                        <p class="inline-block-child"
                        contenteditable="false">{{ sensor.name }}</p>
                        <p class="inline-block-child"
                        contenteditable="false">{{ sensor.id }}</p>
                        <p class="inline-block-child"
                        contenteditable="false">{{ sensor.type_id }}</p>
                    </div>
                    
                    <input class="editbutton simulator-btn grafana-btn grafana-btn-green" type="submit" name="edit_sensor" value="Edit">
                </div>
                {% endfor %}
            {% else %}
                <p style="color:red;"><b> There are no sensors to display </b></p>
                <img src="{% static 'mercury/technical_difficulties.jpg' %}">
            {% endif%}
        </div> <!-- end existing sensors -->


        <div id="add-new-sensor">
            <h2>Add a New Sensor</h2>
            <br>
            <form method="POST">
                {% csrf_token %}
                <div id = "sensor-container"> <!-- single div for configuring entire sensor -->
                    <div class="inline-box">
                        <label for="sensor-name"> <b>Sensor Name:</b> </label>
                        <input type="text" id="sensor-name" name="sensor-name" required/>

                        <label for="select-sensor-type"> <b>Sensor Type:</b> </label>
                        <select id="select-sensor-type" name="select-sensor-type"/>
                            {% if sensor_types %}
                            {% for sensor_type in sensor_types %}
                                <option>{{ sensor_type.name }}</option>
                            {% endfor %}
                            {% endif%}
                        </select>

                    </div> <br>
                </div> <br> <!-- end new sensor container -->
                <h4>Preview</h4> <!-- TODO: need to add preview feature ---> 

                <button type="submit" name="submit_new_sensor" class="grafana-btn grafana-btn-green"> Add New Sensor </button>
            </form>
            <br>
        </div>

        <div id = "add-new-type">
            <h2>Add a New Sensor Type</h2>
            <br>
            <form method="POST">
                {% csrf_token %}
                <div id = "type-container"> <!-- single div for configuring entire sensor type -->
                    <div class="inline-box">
                        <label for="type-name"> <b>Type Name:</b> </label>
                        <input type="text" id="type-name" name="type-name" required/>
                    </div> <br>

                    <table id="new-type-table">
                        <thead>
                            <tr>
                                <th><b> Field Number </b></th>
                                <th><b> Field Name </b></th>
                                <th><b> Field Data Type </b></th>
                                <th><b> Unit </b> (optional) </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td> 1 </td>

                                <td> <input type="text" id="field-name" name="field-names" required/> </td>

                                <td>
                                    <select id="data-type" name="data-types"/>
                                        <option> Numeric </option>
                                        <option> Character </option>
                                        <option> Boolean </option>
                                    </select>
                                </td>

                                <td> <input type="text" id="unit" name="units"/> </td>
                            </tr>
                        </tbody>
                    </table> <br>

                    <div class="inline-box">
                        <button type="button" onclick="addRow()" class="grafana-btn grafana-btn-gray"> Add Another Sensor Field </button>
                        <button type="button" onclick="deleteRow()" class="grafana-btn grafana-btn-red"> Delete Last Sensor Field </button> <br><br>
                    </div>

                </div> <br> <!-- end new sensor type container -->

                <button type="submit" name="submit_new_type" class="grafana-btn grafana-btn-green"> Add New Sensor Type </button>
            </form>
            <br>

            {% for message in messages %}
            <p class="error"> {{ message }} </p>
            {% endfor %}

        </div> <!-- end add new type -->

        <div id="view-existing-types">
            <h2>Existing Types</h2>

            {% if sensor_types %}
                {% for sensor_type in sensor_types %}
                <div class="panel">
                    <h2 contenteditable="false" id="{{ sensor_type.type_name }}">
                    {{ sensor_type.name }}</h2>

                    <h5 contenteditable="false" id="{{ sensor_type.id }}">
                        ID: {{ sensor_type.id }}
                    </h5>

                    <h4 class="inline-block-child"><u>Field Name</u></h4>
                    <h4 class="inline-block-child"><u>Field Type</u></h4>
                    <h4 class="inline-block-child"><u>Field Unit</u></h4>

                    {% for field_name, unit_and_format in sensor_type.format.items %}
                    <div>
                        <p class="inline-block-child"
                        contenteditable="false">{{field_name}}</p>
                        <p class="inline-block-child"
                        contenteditable="false">{{unit_and_format.data_type}}</p>
                        <p class="inline-block-child"
                        contenteditable="false">{{unit_and_format.unit}}</p>
                    </div>
                    {% endfor %}
                    <input class="editbutton simulator-btn grafana-btn grafana-btn-green" type="submit" name="edit_type" value="Edit">
                </div>
                {% endfor %}
            {% else %}
                <p style="color:red;"><b> There are no types to display </b></p>
                <img src="{% static 'mercury/technical_difficulties.jpg' %}">
            {% endif%}

        </div> <!-- end view existing types -->
        
    </div> <!-- end grafana-base -->
</body>
</html>
