<!-- Page styling must be fixed -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add or Modify Sensors</title>
    <link rel="icon" href="{% static 'mercury/motorsports_logo.png' %}">
    <link rel="preload" href="{% static 'mercury/technical_difficulties.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
    <script src="{% static "mercury/js/sensor.js" %}" defer></script>
</head>

<body onload="selectView();">
    {% include 'sidebar.html' %}
    <div id="grafana-base"> <!-- app default background -->
        <h1> Add or Modify Sensors </h1>

        <nav>
            <ul>
                <!-- Note that the button tag without type="button" will default into type="submit" and POST / GET in some browsers and contexts (like when used inside form) -->
                <li><button onclick="displayCurrentSensors()" type="button" id="current-sensor-btn" class="grafana-btn"> View Sensors </button></li>
                <li><button onclick="displayAddNewSensor()" type= "button" id="add-sensor-btn" class="grafana-btn"> Add New Sensor </button></li>
            </ul>
        </nav>

        {% for message in messages %}
            <p class="error"> {{ message }} </p>
        {% endfor %}

        <div id="existing-sensors">
            <h2>Existing Sensors</h2>
            <br>
            {% if sensors %}
                {% for sensor in sensors %}
                <div class="panel">
                    <div class="name-button-box">
                        <div class="name-box">
                            <p class = "big-text" id="{{ sensor.name }}" > Sensor Name: {{ sensor.name }}</p>
                            <p id="{{ sensor_type.id }}" > ID Number: {{ sensor.id }} </p>
                        </div>
                        <div class="button-box">
                            <button type="button" onclick="makeSensorEditable('{{ sensor.name }}', 0)" id="{{ sensor.name }}-edit-button" class="grafana-btn-block grafana-btn-gray"> Modify Sensor </button>
                            <button type="button" onclick="makeSensorEditable('{{ sensor.name }}', 1)" id="{{ sensor.name }}-cancel-button" class="grafana-btn-block grafana-btn-gray" style="display:none;"> Cancel </button>
                            <button type="submit" form="{{ sensor.name }}-form" id="{{ sensor.name }}-submit-button" class="grafana-btn-block grafana-btn-green" style="display:none;"> Update Sensor </button>
                            <form method="POST" action="delete_sensor/{{ sensor.name }}">
                                {% csrf_token %}
                                <button type="submit" id="{{ sensor.name }}-delete-button" class="grafana-btn-block grafana-btn-red" style="display:none;"> Delete Sensor </button>
                            </form>
                        </div>
                    </div>
                    <br>
                    <div>
                        <p class="inline-block-child"><b><u>Field Name</u></b></p>
                        <p class="inline-block-child"><b><u>Data Type</u></b></p>
                        <p class="inline-block-child"><b><u>Units</u></b></p>
                    </div>

                    {% for field_name, unit_and_format in sensor.type_id.format.items %}
                    <div class="{{ sensor.name }}-view">
                        <p class="inline-block-child">{{field_name}}</p>
                        <p class="inline-block-child">{{unit_and_format.data_type}}</p>
                        <p class="inline-block-child">{{unit_and_format.unit}}</p>
                    </div>
                    {% endfor %}

                    <form method="POST" id="{{ sensor.name }}-form" class="{{ sensor.name }}-edit" style="display:none;">
                    <!-- id is used by submit button; class and default style are used by sensor.js to toggle view -->
                        {% csrf_token %}
                        {% for field_name, unit_and_format in sensor.type_id.format.items %}
                        <div>
                            <input type="text" name="edit-field-names" value={{field_name}}   ></input>
                            <select name="edit-data-type"/>
                                <option> Numeric </option>
                                <option> Character </option>
                                <option> Boolean </option>
                            </select>
                            <input type="text" name="edit-units" value={{unit_and_format.unit}}  ></input>
                        </div>
                        {% endfor %}
                        <input type="hidden" name="edit-sensor-name" value={{sensor.name}} ></input>
                        <input type="hidden" name="edit_sensor" value="true"></input> <!--used to trigger edit sensor in sensors.py -->
                    </form>
                </div>
                {% endfor %}
            {% else %}
                <h3 style="color:red;"><b> There are no sensors to display </b></h3>
                <img class=center-image src="{% static 'mercury/technical_difficulties.jpg' %}">
            {% endif%}
        </div> <!-- end existing sensors -->


        <div id = "add-new-sensor">
            <h2>Add a New Sensor</h2>
            <form method="POST">
                {% csrf_token %}
                <div id = "type-container"> <!-- single div for configuring entire sensor type -->
                    <div class="inline-box">
                        <label for="type-name"> <b>Sensor Name:</b> </label>
                        <input type="text" id="type-name" name="type-name" required/>
                    </div> <br>

                    <table id="new-type-table">
                        <thead>
                            <tr>
                                <th><b> Field Number </b></th>
                                <th><b> Field Name </b></th>
                                <th><b> Field Data Type </b></th>
                                <th><b> Unit </b> (optional) </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>

                                <td> <input type="text" id="field-name" name="field-names" required/> </td>

                                <td>
                                    <select id="data-type" name="data-types"/>
                                        <option> Numeric </option>
                                        <option> Character </option>
                                        <option> Boolean </option>
                                    </select>
                                </td>

                                <td> <input type="text" id="units" name="units"/> </td>
                            </tr>
                        </tbody>
                    </table> <br>

                    <div class="inline-box">
                        <button type="button" onclick="addRow()" class="grafana-btn grafana-btn-gray"> Add Another Sensor Field </button>
                        <button type="button" onclick="deleteRow()" class="grafana-btn grafana-btn-red"> Delete Last Sensor Field </button> <br><br>
                    </div>

                </div> <br> <!-- end new sensor type container -->

                <button type="submit" name="submit_new_sensor" class="grafana-btn grafana-btn-green"> Add New Sensor </button>
            </form>
            <br>

        </div> <!-- end add new sensor -->

    </div>
</body>
</html>
