{% load static %}
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet">

<div class="sidebar-container">
    <!-- Name & Logo -->
    <a class="grafana-btn" href="{% url 'mercury:index' %}">
        <div><img src="{% static 'mercury/motorsports_logo.png' %}" class="team-logo"></div>
        <div>NYU Motorsports</div>
    </a>
    <br><br><br>

    <!-- Home / Index -->
    {% if request.path == "/index"%}
        <div class="grafana-current-tab sidebar-btn">
            <i class="material-icons-outlined">house</i>
            <br>Home
        </div>
    {% else %}
        <a class="grafana-btn grafana-btn-gray sidebar-btn" href="{% url 'mercury:index' %}">
            <i class="material-icons-outlined">house</i>
            <br>Home
        </a>
    {% endif %}
    <br><br>

    <!-- Manage Events -->
    {% if request.path == "/events/" %}
        <div class="grafana-current-tab sidebar-btn">
            <i class="material-icons">folder_open</i>
            <br>Manage Events
        </div>
    {% else %}
        <a class="grafana-btn grafana-btn-gray sidebar-btn" href="{% url 'mercury:events' %}">
            <i class="material-icons">folder_open</i>
            <br> Manage Events
        </a>
    {% endif %}
    <br><br>

    <!-- Configure Sensors -->
    {% if request.path == "/sensor/" %}
        <div class="grafana-current-tab sidebar-btn">
            <i class="material-icons">tune</i>
            <br>Configure Sensors
        </div>
    {% else %}
        <a class="grafana-btn grafana-btn-gray sidebar-btn" href="{% url 'mercury:sensor' %}">
            <i class="material-icons">tune</i>
            <br>Configure Sensors
        </a>
    {% endif %}
    <br><br>

    <!-- Configure Grafana-->
    {% if request.path == "/gfconfig/" %}
        <div class="grafana-current-tab sidebar-btn">
            <i class="material-icons">tune</i>
            <br>Configure Grafana
        </div>
    {% else %}
        <a class="grafana-btn grafana-btn-gray sidebar-btn" href="{% url 'mercury:gfconfig' %}">
            <i class="material-icons">tune</i>
            <br>Configure Grafana
        </a>
    {% endif %}
    <br><br>

    <!-- Configure Grafana-->
    {% if request.path == "/gps/" %}
        <div class="grafana-current-tab sidebar-btn">
            <i class="material-icons">tune</i>
            <br>GPS Map
        </div>
    {% else %}
        <a class="grafana-btn grafana-btn-gray sidebar-btn" href="{% url 'mercury:gps' %}">
            <i class="material-icons">tune</i>
            <br>GPS Map
        </a>
    {% endif %}
    <br><br>


    <!-- Logout -->
    {% if request.session.event_code_known %}
        <a class="grafana-btn grafana-btn-red sidebar-btn" href="{% url 'mercury:logout' %}" onclick="return confirm('Are you sure you want to logout?')">
            <i class="material-icons">power_settings_new</i>
            <br>Logout
        </a>
    {% endif %}
</div>