{% load static %}
<!DOCTYPE html>
<html lang="en">
     <head>
        <meta charset="UTF-8">
        <title>Mercury Simulator</title>
        <link rel="icon" href="{% static 'mercury/motorsports_logo.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        <script src="{% static "mercury/js/jquery-3.4.1.js" %}"></script>
        <script src="{% static "mercury/js/simulator.js" %}"></script>
        <script src="{% static "mercury/js/accordian.js" %}"></script>
    </head>
    <body>
        {% include 'sidebar.html' %}
        <div id="grafana-panel">
                <div>
                    <!-- events is a list passed in the context if there are any events, otherwise will be an empty list -->
                    {% if events %}
                        Current event is :  {{ events.0.event_name }}
                    <a class="grafana-btn grafana-btn-gray" id= "accordion-btn" onclick="displayForm()">
                        Change event
                        <i class="material-icons-outlined" id="show_form" style="display: block">expand_more</i>
                        <i class="material-icons-outlined" id="hide_form" style="display: none">expand_less</i>
                    </a>
                    <div id="accordion-event-form">
                        Select which event to change to.
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-bordered table-striped mb-0">
                                <thead>
                                <tr bgcolor="#e0efdf">
                                    <th>ID</th>
                                    <th>NAME</th>
                                    <th>LOCATION</th>
                                    <th>DATE</th>
                                    <th>COMMENTS</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in events %}
                                    <tr>
                                        <th>{{ item.id }}</th>
                                        <td>{{ item.event_name }}</td>
                                        <td>{{ item.event_location }}</td>
                                        <td>{{ item.date }}</td>
                                        <td>{{ item.comments }}</td>
                                    </tr>
                                {%  endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                    <div>There are no events yet.</div>
                    <div><a href="/event">Create an event</a></div>
                    {% endif %}

                </div>
        </div>
        <div id="grafana-base">
            <div id="grafana-panel" style="width: 800px;">
                <h1>
                    Simulator
                    <a class="grafana-btn grafana-btn-gray" id= "accordion-btn" onclick="myFunction()">
                        <i class="material-icons-outlined" id="expand_more" style="display: block">expand_more</i>
                        <i class="material-icons-outlined" id="expand_less" style="display: none">expand_less</i>
                    </a>
                </h1>
                
                <div id="accordion-text">
                    Generate mock telemetry data to test visualizations and test the link between the database models and the visualization software.
                    <br> <br>

                    <a class="grafana-btn simulator-btn grafana-btn-green" style="width: 220px;">Continuous Submission</a> - Panel generates and submits data on an interval.
                    <br><br>
                    <a class="grafana-btn simulator-btn grafana-btn-green" style="width: 220px;">Submit Once</a> - Submit input value a single time.
                    <br><br>
                    <a class="grafana-btn simulator-btn grafana-btn-red" style="width: 220px;">Stop Submission</a> - Stop continuously submitting data.
                    <br><br>

                    <a class="grafana-btn simulator-btn grafana-btn-green" style="width: 220px;">Continuous Submission All</a> - All panels generate and submit data on an interval.
                    <br><br>
                    <a class="grafana-btn simulator-btn grafana-btn-green" style="width: 220px;">Submit All Once</a> - All panels submit current inputs a single time.
                    <br><br>
                    <a class="grafana-btn simulator-btn grafana-btn-red" style="width: 220px;">Stop All Submission</a> - Stops continuous submission for all panels.
                    <br><br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="sim-panel">
                        <h4>Suspension Sensor</h4>
                        {% if form_ss %}
                            <form method="POST" action="" id="SuspensionForm">
                                {% csrf_token %} {% load crispy_forms_tags %} {{ form_ss|crispy }}
                                <br>
                                <input class="submitbutton_ss simulator-btn grafana-btn grafana-btn-green" type="submit" name="Continuous" value="Continuous Submission">
                                <br> <br>
                                <input class="submitbutton_ss simulator-btn grafana-btn grafana-btn-green" type="submit" name="Once" value="Submit Once">
                                <br> <br>
                                <input class="submitbutton_ss simulator-btn grafana-btn grafana-btn-red"   type="submit" name="Stop" value="Stop Submission">
                            </form>
                        {% endif %}
                    </div>
                    <br>
                    <div class="sim-panel">
                        <h4>Temperature Sensor</h4>
                        {% if form_temp %}
                            <form method="POST" action="" id="TemperatureForm">
                                {% csrf_token %} {% load crispy_forms_tags %} {{ form_temp|crispy }}
                                <br>
                                <input class="submitbutton_temp simulator-btn grafana-btn grafana-btn-green" type="submit" name="Continuous" value="Continuous Submission">
                                <br> <br>
                                <input class="submitbutton_temp simulator-btn grafana-btn grafana-btn-green" type="submit" name="Once" value="Submit Once">
                                <br> <br>
                                <input class="submitbutton_temp simulator-btn grafana-btn grafana-btn-red" type="submit" name="Stop" value="Stop Submission">
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="sim-panel">
                        <h4>Acceleration Sensor</h4>
                        {% if form_accel %}
                            <form method="POST" action="" id="AccelerationForm">
                                {% csrf_token %} {% load crispy_forms_tags %} {{ form_accel|crispy }}
                                <br>
                                <input class="submitbutton_accel simulator-btn grafana-btn grafana-btn-green" type="submit" name="Continuous" value="Continuous Submission">
                                <br> <br>
                                <input class="submitbutton_accel simulator-btn grafana-btn grafana-btn-green" type="submit" name="Once" value="Submit Once">
                                <br> <br>
                                <input class="submitbutton_accel simulator-btn grafana-btn grafana-btn-red" type="submit" name="Stop" value="Stop Submission">
                            </form>
                        {% endif %}
                    </div>
                    <br>
                    <div class="sim-panel">
                        <h4>All Panel Controls</h4>
                        <br>
                        <form method="POST" action="" id="AllSensorsForm">
                            {% csrf_token %}
                            <input class="submitbutton_all simulator-btn grafana-btn grafana-btn-green" type="submit" name="Continuous" value="Continuous Submission All">
                            <br> <br>
                            <input class="submitbutton_all simulator-btn grafana-btn grafana-btn-green" type="submit" name="Once" value="Submit All Once">
                            <br> <br>
                            <input class="submitbutton_all simulator-btn grafana-btn grafana-btn-red" type="submit" name="Stop" value="Stop All Submission">
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="sim-panel">
                        <h4>Wheel Speed Sensor</h4>
                        {% if form_ws %}
                            <form method="POST" action="" id="WheelSpeedForm">
                                {% csrf_token %} {% load crispy_forms_tags %} {{ form_ws|crispy }}
                                <br>
                                <input class="submitbutton_ws simulator-btn grafana-btn grafana-btn-green" type="submit" name="Continuous" value="Continuous Submission">
                                <br> <br>
                                <input class="submitbutton_ws simulator-btn grafana-btn grafana-btn-green" type="submit" name="Once" value="Submit Once">
                                <br> <br>
                                <input class="submitbutton_ws simulator-btn grafana-btn grafana-btn-red" type="submit" name="Stop" value="Stop Submission">
                            </form>
                        {% endif %}
                    </div>
                    <br>
                    <div class="sim-panel">
                        <h4>Fuel Level Sensor</h4>
                        {% if form_fl %}
                            <form method="POST" action="" id="FuelLevelForm">
                                {% csrf_token %} {% load crispy_forms_tags %} {{ form_fl|crispy }}
                                <br>
                                <input class="submitbutton_fl simulator-btn grafana-btn grafana-btn-green" type="submit" name="Continuous" value="Continuous Submission">
                                <br> <br>
                                <input class="submitbutton_fl simulator-btn grafana-btn grafana-btn-red" type="submit" name="Once" value="Submit Once">
                                <br> <br>
                                <input class="submitbutton_fl simulator-btn grafana-btn grafana-btn-red" type="submit" name="Stop" value="Stop Submission">
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br>
        </div>
    </body>
</html>
