{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simulator</title>
</head>
<body>
	<h1 align ="center">Simulator Panels</h1>

{% load crispy_forms_tags %}
<script src="{%  static "mercury/js/jquery-3.4.1.js" %}"></script>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 justify-content-center">
            <h1>Simulating Mock Data</h1>
            {% if form %}
            <form method="POST" action="" id="SimulatorForm">
                {%  csrf_token %}
                {{ form|crispy }}
                <!-- Modified by: Rajeev
                     User story: #95 Continuous Submission for simulator UI
                     begin-->
                <input type="submit" class="submitbutton" name="Continuous" value="Continuous Submission">
                <input type="submit" class="submitbutton" name="Once" value="Submit Once">
                <input type="submit" class="submitbutton" name="Stop" value="Stop Submission">
                 <!--User story: #95 Continuous Submission for simulator UI
                     end-->
            </form>
            {% endif %}
        </div>
    </div>
</div>
<script src="{%  static "mercury/js/main.js" %}"></script>
</body>
</html>